syntax:glob
debian/hobbit
debian/hobbit-client
debian/xymon
debian/xymon-client
debian/files
debian/*.debhelper
debian/*.debhelper.log
debian/*.substvars
build-stamp
stamp-patched
.pc
*~

# upstream
COPYING
CREDITS
Changes
Makefile
README
README.CLIENT
RELEASENOTES
bbdisplay
bbnet
bbproxy
build
client
common
configure
configure.client
configure.server
contrib
demotool
docs
hobbitd
include
lib
rpm
web
