#!/usr/bin/make -f

CFLAGS = -Wall -g

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif

Makefile: configure
	dh_testdir
	# Add here commands to configure the package.
	USEHOBBITPING=y \
	ENABLESSL=y \
	ENABLELDAP=y \
	ENABLELDAPSSL=y \
	BBUSER=hobbit \
	BBTOPDIR=/usr/lib/hobbit \
	BBVAR=/var/lib/hobbit \
	BBHOSTURL=/hobbit \
	CGIDIR=/usr/lib/hobbit/cgi-bin \
	BBCGIURL=/hobbit-cgi \
	SECURECGIDIR=/usr/lib/hobbit/cgi-secure \
	SECUREBBCGIURL=/hobbit-seccgi \
	HTTPDGID=www-data \
	BBLOGDIR=/var/log/hobbit \
	BBHOSTNAME=localhost \
	BBHOSTIP=127.0.0.1 \
	MANROOT=/usr/share/man \
	INSTALLBINDIR=/usr/lib/hobbit/server/bin \
	INSTALLETCDIR=/etc/hobbit \
	INSTALLWEBDIR=/etc/hobbit/web \
	INSTALLEXTDIR=/usr/lib/hobbit/server/ext \
	INSTALLTMPDIR=/var/lib/hobbit/tmp \
	INSTALLWWWDIR=/var/lib/hobbit/www \
	./configure

build: build-stamp
build-stamp: Makefile
	dh_testdir

	# Add here commands to compile the package.
	PKGBUILD=1 $(MAKE)

	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp 
	[ ! -f Makefile ] || $(MAKE) distclean
	dh_clean 
	debconf-updatepo

S=$(CURDIR)/debian/hobbit
C=$(CURDIR)/debian/hobbit-client

install-clean:
	dh_clean -k

install: build install-clean
	dh_testdir
	dh_testroot
	dh_installdirs -a
	PKGBUILD=1 INSTALLROOT=$S/ $(MAKE) install
	# Static content in /usr/share
	cd $S/var/lib/hobbit/www && \
		mv gifs ../../../../usr/share/hobbit && ln -s ../../../../usr/share/hobbit/gifs . && \
		mv help ../../../../usr/share/hobbit && ln -s ../../../../usr/share/hobbit/help . && \
		mv menu ../../../../usr/share/hobbit && ln -s ../../../../usr/share/hobbit/menu .
	# Create static gifs
	cd $S/usr/share/hobbit/gifs && mkdir static && \
		for gif in *.gif ; do \
			convert "$$gif[0]" xpm:- | convert xpm:- static/$$gif || exit 1 ; \
		done && \
		cd static && ln -s ../*.ico .
	# We depend on the -client package
	rm -rf $S/usr/lib/hobbit/client
	# This needs root
	chmod 4755 $S/usr/lib/hobbit/server/bin/hobbitping
	# These variables are managed by debconf in /etc/default/hobbit;
	# static icons by default please
	sed -i -e'/^BBSERVERHOSTNAME=/iinclude /etc/default/hobbit-client' \
		-e's!^BBSERVERHOSTNAME=.*!BBSERVERHOSTNAME="$$CLIENTHOSTNAME"!' \
		-e'/^BBSERVERIP=/d' \
		-e's!^BBDISP=.*!include /var/run/hobbit/bbdisp-runtime.cfg!' \
		-e'/^BBDISPLAYS=/d' \
		-e's!BBSERVERWWWURL/gifs!BBSERVERWWWURL/gifs/static!' \
		-e'/^BBMENUSKIN/iinclude /etc/hobbit/web/menu.cfg' \
		$S/etc/hobbit/hobbitserver.cfg
	echo "include /var/run/hobbit/clientlaunch-include.cfg" >> \
		$S/etc/hobbit/hobbitlaunch.cfg
	# pid files go into /var/run/hobbit
	sed -i -e's!pidfile=\$$[^/]*/!pidfile=/var/run/hobbit/!' \
		$S/etc/hobbit/hobbitlaunch.cfg
	mv $S/etc/hobbit/hobbit-apache.conf \
		$S/etc/apache2/conf.d/hobbit
	# Access restricted by default
	sed -i -e's/Allow from all/Allow from localhost/' \
		$S/etc/apache2/conf.d/hobbit
	# We use a modified version of this as /etc/init.d/hobbit
	rm $S/usr/lib/hobbit/server/hobbit.sh
	# Autogenerated on first install
	rm $S/etc/hobbit/bb-hosts
	# Install a free menu
	cp debian/menu.css $S/usr/share/hobbit/menu
	cp debian/menu.cfg $S/etc/hobbit/web
	sed -i -e's/ Transitional//' -e'/"Topline"/i&HOBBITMENU' \
		$S/etc/hobbit/web/*_header
	# Make lintian happy
	install -m644 -D debian/hobbit.lintian \
		$S/usr/share/lintian/overrides/hobbit


install-client: build install-clean
	dh_testdir
	dh_testroot
	dh_installdirs -a
	PKGBUILD=1 INSTALLROOT=$C/ $(MAKE) install-client
	cd $C/usr/lib/hobbit/client && mv etc/* $C/etc/hobbit && rmdir etc && ln -s ../../../../etc/hobbit etc
	cd $C/usr/lib/hobbit/client && rmdir logs && ln -s ../../../../var/log/hobbit logs
	cd $C/usr/lib/hobbit/client && rmdir tmp && ln -s ../../../../tmp tmp
	cd $C/usr/bin && \
		ln -s ../lib/hobbit/client/bin/bb ../lib/hobbit/client/bin/bbcmd .
	cp debian/hobbit-client.default.dist $C/usr/share/hobbit/hobbit-client.default
	# These variables are managed by debconf in /etc/default/hobbit-client
	# HOBBITCLIENTHOME is undefined, sigh
	sed -i -e's!^BBDISP=.*!include /var/run/hobbit/bbdisp-runtime.cfg!' \
		-e'/^BBDISPLAYS=/d' \
		-e'/^BBHOME=/iHOBBITCLIENTHOME="\/usr\/lib\/hobbit\/client"' \
		$C/etc/hobbit/hobbitclient.cfg
	# pid files go into /var/run/hobbit
	sed -i -e's!\$$[^ ]*/\([^ ]*\.pid\)!/var/run/hobbit/\1!' \
		$C/etc/hobbit/clientlaunch.cfg
	# dynamic list of installed client extensions
	echo "include /var/run/hobbit/clientlaunch-include.cfg" >> \
		$C/etc/hobbit/clientlaunch.cfg
	rm $C/usr/lib/hobbit/client/runclient.sh


binary-indep:

binary binary-arch: build install install-client
	dh_testdir -a
	dh_testroot -a
	dh_installchangelogs -a Changes
	dh_installdocs -a
	dh_installexamples -a
	# move some files into the client package
	dh_movefiles --sourcedir=debian/hobbit -a
	cd $(CURDIR)/debian/hobbit/usr/lib/hobbit/server/bin && \
		for f in * ; do \
			if [ -f $(CURDIR)/debian/hobbit-client/usr/lib/hobbit/client/bin/$$f ] ; then \
				rm -v $$f ; ln -s ../../client/bin/$$f ; \
			fi \
		done
	dh_installdebconf -a
	dh_installlogrotate -a
	dh_installinit -a
	dh_installman -a
	dh_link -a
	dh_strip -a
	dh_compress -a
	dh_fixperms -a -Xbin/hobbitping
	dh_installdeb -a
	dh_shlibdeps -a
	dh_gencontrol -a
	dh_md5sums -a
	dh_builddeb -a

.PHONY: build clean binary-indep binary-arch binary install 
